<br><br><br>
<div class="my-2 w-25"></div>

<label for="" class="my-1">categories :</label>
<select class="form-control">
    <option value="all">All</option>
    
    @for (item of category; track $index) {
    <option value="item">{{item}}</option>
    }
</select>
<br>
<div class="container page-wrapper">
    <div class="page-inner">
        <div class="row horizontal-scroll">
            <!-- ngFor loop without changing TypeScript -->
            @for (item of protects; track $index) {
            <div class="el-wrapper">
                <div class="box-up">
                    <div class="img-frame">
                        <img class="img" [src]="item.image" alt="">
                    </div>
                    <div class="img-info">
                        <div class="info-inner">
                            <span class="p-name">{{ item.title }}</span>
                            <span class="p-company">Yeezy</span>
                        </div>
                        <div class="a-size">Available sizes : <span class="size">S , M , L , XL</span></div>
                    </div>
                </div>
                <div class="box-down">
                    <div class="h-bg">
                        <div class="h-bg-inner"></div>
                    </div>
                    <a class="cart" href="#">
                        <span class="price">{{ item.price }}</span>
                        <span class="add-to-cart">
                            <span class="txt">Add in cart</span>
                        </span>
                    </a>
                </div>
            </div>
            }
        </div>
    </div>
</div>
